*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GilroyBold';
    src: url(./fonts/Gilroy/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/Gilroy/Gilroy-Light.otf);
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #191411;
}

.navbar{
    width: 80%;
    height: 130px;
    margin: 0 auto;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-weight: 700;
}
.navbar button{
    background: none;
    color: #FFFFFF;
    border: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 7px;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.hero{
    width: 100%;
    height: 650px;
    color: #FFFFFF;
    background: url(/main_burger.png) 450px -20px  no-repeat, url(/olov1.png) no-repeat, url(/olov2.png) 100% 0px no-repeat,#191411;
    background-size: 55%, 40%, 30%;
   
}
.hero-cont{
    width: 580px;
    height: 648px;
    margin-left: 150px;
    margin-top: 100px;
}
.new-menu{
    width: 120px;
    height: 35px;
    font-size: 15px;
    font-family: 'Gilroy';
    font-weight: 700;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
    background-color: #D3320F;
}

.hero-head{
    font-size: 80px;
    font-family: 'Merriweather';
}
.hero-p{
    font-size: 18px;
    font-family: 'Gilroy';
    margin-top: 40px;
    margin-bottom: 50px;
}
.menu{
    width: 300px;
    height: 45px;
    background: rgb(218,128,35);
    background: linear-gradient(90deg, rgba(218,128,35,1) 0%, rgba(226,180,56,1) 100%);
    border-radius: 8px;
    border: none;
    font-family: 'Gilroy';
    font-weight: 700;
}
.menu-link{
    text-decoration: none;
    color: black;
}
.burger11{
  font-size: 17px;
  color: white;
    
}
.menu-h2{
    padding: 50px;
    text-align: center;
    font-size: 50px;
}
.menu-list{
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: url(./images/burgers_bg.png) 0px -250px no-repeat;
    background-size: 100%;
}
.menu-top-text{
    text-align: center;
    font-size: 64px;
    color: #FFFFFF;
    font-family: 'Merriweather';
    margin: 50px auto;
}
.menu-item{
    width: 384px;
    height: 550px;
    background-color: #211A16;
    border-radius: 50px;
    padding: 40px;
    border: 0.5px solid #0c060690;
}
.item-head{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-size: 24px;
    
}
.item-info{
    color: #FFFFFF;
    font-family: 'Gilroy';
    margin: 15px 0;
}
.item-buy{
    width: 300px;
    height: 57px;
    background: rgb(218,128,35);
    background: linear-gradient(90deg, rgba(218,128,35,1) 0%, rgba(226,180,56,1) 100%);
    border-radius: 8px;
    border: none;
    font-family: 'Gilroy';
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.item-buy a{
    text-decoration: none;
    color: black;
}
.item-title{
    color: #FFFFFF;
    font-family: 'Gilroy';
    font-size: 24px;
}
.menu-item-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.main.burger{
    max-width: 1920px;
    margin: 0 auto;
  
}
.price{
    display: flex;
    padding: 5px;
    color: #FFFFFF;
    font-size: 33px;
    font-family: 'Gilroy';
}
.netto{
    align-items: end;
    justify-content: end;
    display: flex;
    color: #dddddd;
    font-family: 'Gilroy';
    margin: 2px;
}

.order{
    max-width: 1920px;
    height: 730px;
    margin: 50px;
    position: relative;
    background: url(/food-delivery.png) 100px no-repeat;
}
.order-top-text{
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.order-head{
    font-size: 60px;
    color: #FFF;
    text-align: center;
    margin-bottom: 50px;
}
.order-cont{
    width: 424px;
    height: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid #353535;
    border-radius: 15px;
    margin-left: 60%;
    background-color: #211A16;
}
.order-text-input{
    background: none;
    font-family: 'Gilroy';
    font-size: 27px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    border-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(235, 213, 19, 1) 0%) 1;
    outline: none;
}
.order-text-input{
    width: 300px;
    height: 55px;
    border-width: 2px;
    border-style: solid;
    padding: 5px;
    color:white;
    font-size: medium;
    font-family: 'Gilroy';
    background-color:rgba(218,128,35,1) 0% rgba(226,180,56,1) 100% 1;
}
.order-buy{
    width: 300px;
    height: 45px;
    background: rgb(218,128,35);
    background: linear-gradient(90deg, rgba(218,128,35,1) 0%, rgba(226,180,56,1) 100%);
    border-radius: 8px;
    border: none;
    font-family: 'Gilroy';
    font-weight: 700;
    
}
.order-buy a{
    text-decoration: none;
    color: black;
}

.img-box{
    position: absolute;
    top: 200px;
    left: 350px;
}
.img-box img{
    width: 500px;
}
.order-cont{
    width: 370px;
    height: 450px;
    margin-top: 0px;
    margin-left: 1000px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.206);
    text-align: center;
    color: #FFFFFF;
    background-color: #211A16;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
} 
.order-cont h3{
    font-size: 22px;
}
.order-input{
    width: 300px;
    height: 50px;
    border-image: linear-gradient( right, #DA8023 0%, #E2B438 100%) 1;
    border-width: 2px;
    border-style: solid;
    padding: 3px;
    background-color: #211A16;
    color: #FFFFFF;
}

.orderBtn{
    width: 300px;
    height: 50px;
    background: rgb(218,128,35);
    background: linear-gradient(90deg, rgba(218,128,35,1) 0%, rgba(226,180,56,1) 100%);
    border-radius: 8px;
    border: none;
    font-family: 'Gilroy';
    font-weight: 700;
    margin-top: 10px;
}

.up{
    position: sticky;
    bottom: 0;
    left: 100%;
}
.up img{
    width: 70px;
}

.footer{
    max-width: 1920px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index: -1;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.telegram{
    width: 30px;
    height: 30px;
}
.social a{
    text-decoration: none;
}
.social img{
    width: 30px;
}
